@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



* {
    margin: 0;
    padding: 0;
}

:root{
    --var-color01:#24384C;
    --var-color02: #B95F33;
    --var-color03:#799181;
    --var-color04: #FAF4EF;
    --var-font01: 'Playfair Display', 'serif'; 
    --var-font02: 'Poppins', 'sans-serif';
}

menu{
    background-color: #FAE2CC;
    padding: 7px;
    display: flex;
    justify-content: space-evenly;
}

menu > a{
    padding: 10px;
    background-color: var(--var-color02);
    border-radius: 5px;
    text-decoration: none;
    color: white;
}
body, section{
    background-color: #faf4ef;
    background-image: url(../img/imgdefundo.png);
    background-size: contain;

}

section{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;

}


h1{
    font-family: var(--var-font01);
    font-size: 35px;
    font-weight: 300;
    text-align: center;
    letter-spacing: 2px;
    color: var(--var-color01);
}

h1.sub{
    color: var(--var-color02);
}

.title{
    padding-top: 130px;
}

p{
    margin-top: 30px;
    font-family: var(--var-font02);
    color: var(--var-color01);
    font-size: medium;
    text-align: center;
    margin-bottom: 20px;
}

.button{
    background-color: #B95F33;
    border-radius: 5px;
    font-family: var(--var-font02);
    font-size: medium;
    padding: 10px;
    border-radius: 5px;
}

div > a{
    text-decoration: none;
    color: white;
}