@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

:root{
    --var-color01:#8E9785;
    --var-color02: #9E9C8F;
    --var-color03:#8E9785;
    --var-color04:#D78139;
    --var-color05:#935E42;
    --var-color06:#B65A2D;
    --var-color07:#7E0609;
    --var-color08: #5F0C08;

}

section{
    background-color: var(--var-color02);
    border-bottom: 10px solid var(--var-color04);
}

h1{
    font-size: 2em;
    text-align: center;
    padding: 10px 0px;
}
h2{
    text-align: center;
    padding-bottom: 20px;
}

.wrapper-sec1{
    display: flex;
    padding-bottom: 20px;


}

p{
    text-align: justify;
    padding: 25px 10px 0px 10px;
    text-indent: 10px;
    line-height: 1.5;
}
.foto{
    display: block;
    margin: auto;
    border-radius: 50%;
    height: 300px;
    border: 6px solid var(--var-color05);
    box-sizing: border-box;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.549);
}